@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Nanum+Pen+Script&display=swap');
@import "tailwindcss";


@theme {
  --font-michroma: 'Michroma', sans-serif;
  --font-nanum-pen-script: 'Nanum Pen Script', cursive;
  --color-background: var(--background);
  --color-orange: var(--orange);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-button-primary: var(--button-primary);
  --color-background-secondary: var(--background-secondary);
}

:root {
  --background: #ffffff;
  --orange: #fa5a14;
  --text-primary: #181818;
  --text-secondary: #858483;
  --border-primary: #d2d2d2;
  --border-secondary: #000000;
  --button-primary: #434343;
  --background-secondary: #201e1c;
}

.dark {
  --background: #1a1a1a;
  --orange: #fb631b;
  --text-primary: #acacac;
  --text-secondary: #858483;
  --border-primary: #9c9c9c;
  --border-secondary: #9c9c9c;
  --background-secondary: #201e1c;
}

@layer base {
  body {
    font-family: monospace;
  }
}